    .container,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
    color: #424242;
    font-size: 1rem;
}

header,
section,
div {
    box-sizing: border-box;
}

.top-header {
    box-shadow: 0 5px 5px -5px #333;
    display: flex;
}

.logo-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    height: 70px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header-title {
    font-weight: 400;
    font-size: 3.5em;
    margin: 0.3em 1.2em;
    /* padding: 2rem; */
    display: inline-block;
    color: #212121;
}

.hm-icon {
    padding-top: 2em;
    padding-right: 1em;
}

.icons {
    font-size: 1.3rem;
    color: grey;
}
/* navbar */

.main-nav-bar {
    display: flex;
    text-align: center;
}

.nav-bar-item {
    border-bottom: 1px solid #E0E0E0;
    padding: 1em 0;
    line-height: 2rem;
    width: 100%;
}

.nav-bar-item a {
    text-decoration: none;
    color: #666;
}

.nav-bar-item a:hover,
.nav-bar-item a:active {
    text-decoration: underline;
}
/* main image headline */

.hero-image-headline {

    float: left;
    width: 65%;
    position: relative;
    width: 100%;
    height: auto;
    /* background: #b9babd; */
}

.hero-img {
    width: 100%;
}

.hero-heading {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    margin-bottom: 3px;
    
    /* border-left: 2px grey solid; */
    /* border-right: 2px grey solid; */
}

.weather-report {
    color: #212121;
    width: 35%;
    float: left;
    margin-top: 1em;
    padding-left: 1em;
}

.todays-weather {
    display: flex;
    text-align: center;
}

.todays-weather-img {
    width: 20%;
    text-align: center;
}

.weather-prediction {
    display: flex;
    text-align: center;
}

.weather-prediction-img {
    width: 65%;
    height: auto;
}

.weather-prediction-temp {
    flex: 100%;
}
/*  All news headline  */

.news-headline-container {
    float: left;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* background: red; */
    border-bottom: 2px solid #b8b2b2;
}

.top-news {
    font-weight: 300;
    /* border-bottom: 1px solid #E0E0E0; */
    line-height: 2rem;
    font-size: 1.4rem;
    border-collapse: collapse;
    
}

.news-headline-container ul li a:hover{
    text-decoration: none;
}

.top-news-link-more {
    float: right;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

.removeDotFromULtag {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news-headline-item {
    /* border-bottom: 2px solid #E0E0E0; */
    padding: 1em 0 0.9em 0;
    line-height: 1.5rem;
    color: #E0E0E0;
    ;
    /* font-size:  */
}

.topBorder {
    border-top: 2px solid #E0E0E0;
}

.BottomBorder {
    border-bottom: 2px solid #E0E0E0;
}

.news-headline-item a {
    text-decoration: none;
    color: #666;
}

.news-headline-item a:hover,
.news-headline-item a:active {
    text-decoration: underline;
}
/* all sport news */

.sport-news {
    width: 100%;
    padding-top: 1em;
}

.sport-news {
    font-size: 1.2rem;
}

.sport-news table tr td,
.sport-news table th {
    /* text-align: left; */
    /* padding: 1em; */
}

.sport-news table th {
    text-align: left;
    color: #b9babd;
    /* padding: 1em; */
}

.sport-news table tr td {
    /* padding-left: 2em; */
    /* text-align: left; */
    padding: 1em;
}

.sport-news-table {
    width: 100%;
    border-collapse: collapse;
}

.middle {
    /* text-align: center; */
    /* padding: 1em; */
    /* background: red; */
    margin-left: 40%;
}

.right-align {
    text-align: right;
}

.bold-font-text {
    font-weight: bolder;
}
/*  latest news */

.latest-news-more {
    float: right;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

.latest-news-item {
    clear: both;
    margin: 1.3rem 0;
}

.latest-news-image {
    width: 100px;
    float: left;
    margin-right: 1em;
}

.latest-news-head {
    font-weight: 500;
}

.latest-news-head a {
    text-decoration: none;
    color: #666;
}

.latest-news-head a:hover,
.latest-news-head a:active {
    text-decoration: underline;
}

.footer-nav {
    display: flex;
    text-align: center;
    border-top: 1px solid #E0E0E0;
}

.footer-nav-bar {
    border-bottom: 1px solid #E0E0E0;
    padding: 1em 0;
    line-height: 2rem;
    width: 100%;
}

.footer-nav-bar a {
    text-decoration: none;
    color: #666;
}

.footer-nav-bar a:hover,
.footer-nav-bar a:active {
    text-decoration: underline;
}

.makeSomeSpace {
    margin-left: 0.5rem;
}

.latest-news {
    margin-left: 1.2rem;
}
/* for responsiveness */

@media screen and (min-width: 1024px) {
    body {
        margin: 4em;
    }
    .main-div-item {
        display: flex;
        flex-direction: column;
    }
    .weather-report {
        order: 4;
        width: 100%;
    }
    .hero-image-headline {
        width: 100%;
        height: auto;
    }
    .hero-image-container {
        width: 100%;
        height: auto;
    }
    .hero-img {
        height: 450px;
        object-fit: cover;
    }
    .hero-heading {
        width: 100%;
        background: transparent;
        background: rgba(0, 0, 0, 0.5);
        color: white;
    }
    .latest-news-image {
        width: 100px;
    }
    .hm-icon {
        display: none;
    }
    .main-div-item{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
       }
       .hero-image-headline{
         order: 1;
         grid-column: 1/3;
         grid-row: 1/2;
         width: 100%;
       }
       .weather-report{
         order: 4;
         grid-column: 1/3;
         grid-row: 4/5;
       }
       .news-headline-container{
         order: 2;
         grid-column: 1/3;
         grid-row: 2/3;
       }
       .sport-news{
         order: 3;
         grid-column: 1/3;
         grid-row: 3/4;
       }
       .hero-heading{
        background: transparent;
        color: #fffefe;
    }
}

@media screen and (min-width: 720px) {
    .main-div-item{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: auto;
    }
    .hero-image-headline{
      order: 1;
    }
    .weather-report{
      order: 2;
      width: 100%;
    }
    .news-headline-container{
      order: 3;
      grid-column: 1/3;
    }
    .sport-news{
      order: 4;
      grid-column: 1/3;
    }
    .news-headline-item {
        font-size: 1em;
    }
    .news-headline-container {
        width: 100%;
        height: auto;
    }
    .hero-heading {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 0.8em;
    }
    .latest-news-image {
        width: 80px;
    }
    .hm-icon {
        display: none;
    }
    .hero-heading{
        background: rgb(255, 255, 255);
        color: #212121;
    }
    
}

@media screen and (max-width: 720px) {
    .main-div-item {
        display: flex;
        flex-direction: column;
    }
    .weather-report {
        order: 4;
        width: 100%;
    }
    .hero-image-headline {
        width: 100%;
    }
    .logo-img {
        height: 48px;
        margin-right: 0.5em;
    }
    .header-title {
        margin-left: 0;
        font-size: 1.4em;
    }
    .news-headline-item {
        font-size: 1.5rem;
    }
    .main-nav-bar {
        display: none;
    }
    .hero-heading {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 0.6em;
        height: 10vh;;
    }
    .latest-news-image {
        width: 60px;
    }
    .latest-news{
        font-size: 1.5rem;
    }
    .header-title{
        font-size: 5vw;
    }
    th {
        background: rgb(78, 116, 138);
    }
    tr:nth-child(odd) {
        background: #c2daee;
    }
 
}